.yellow {
  background-color: rgb(228, 194, 5);
}

.fadeImages {
  width: 200px;
  height: 200px;
  display: inline-block;
  opacity: 0;
}

.imageLoadOne {
  transition: opacity 1000ms ease 1s;
}

.imageLoadTwo {
  transition: opacity 1000ms ease 1.2s;
}

.imageLoadThree {
  transition: opacity 1000ms ease 2s;
}

.showImage {
  opacity: 1;
}

.infoBox {
  background-color: rgb(242, 215, 11);
  color: black;
  max-width: 640px;
}

.foldOutText {
  color: rgb(1, 1, 1);
  height: 0px;
  overflow: hidden;

  transition: height 500ms ease;
}

.showFoldOut {
  height: 200px;
}
